@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic&.css);
/* @import url(/static/core/css/fonts/Droid+Serif:400,700,700italic,400italic.css); */

/*** Basics ***/
.legal-document { font-family: "Droid Serif", serif; line-height: 1.5em; font-size: 16px; margin: 0px 20px; 0px 20px;}

.box { padding: 0px; margin: 0px 1px 0px 1px; height: 9px; width: 9px; }

/*** Common classes ***/

/* refer */
refer { color: #1c79c2; }
refer[type="missing"] { color: #606060; }

/*** Section classes ***/

/* law name */
law > name { display: block; font-size: 1.875em; line-height: 1.25em; color: #2d5382; border-top: 1px solid #dddddd; padding-top: 30px; padding-bottom: 6px; }

/* law num-and-date */
law num-and-date { display: block; font-weight: bold; font-size: 16px; line-height: 1.6; text-align: center; border-bottom: 1px solid #dddddd; padding-bottom: 22px; margin-bottom: 40px; }

/* ministerial clause */
law minister-clause { display: none; }

/* chapter */
chapter { display: block; margin-top: 1.5em; }
chapter > nr-title { font-weight: bold; }
chapter > name { font-weight: bold; }
name sup, nr-title sup { font-size: 60% !important; vertical-align: top; top: 0.885em !important; }

/* article */
art { display: block; margin-top: 0px; }
art > nr-title { display: inline; font-weight: bold; }
art > name { font-style: italic; }

/* subarticle */
subart { display: block; }

/* numerical article */
numart { display: block; text-indent: 1em; }
numart > name { font-style: italic; }
numart[style-note="inline-with-parent"] { display: inline; }

/* sentence */
sen sup { font-size: 60% !important; vertical-align: top; top: 0.885em !important; }

/* footnotes */
footnotes { display: none; text-indent: 1em;  }
footnote { margin-right: -1px; line-height: 1.5em; }
footnote a { color: #1c79c2; }
footnote sup { display: inline; font-size: 7.68333px !important; font-style: italic; vertical-align: top; top: 1.25em; }
footnote-sen { display: inline; font-style: italic; font-size: 12.8px; }
footnote-sen:nth-child(3) { margin-left: -1px; }
location { display: none; }

