/*** Basics ***/
.legal-document {
    font-family: "Droid Serif", serif;
    line-height: 1.5em;
    font-size: 16px;
}
.legal-document sup { font-size: x-small; }

.box { padding: 0px; margin: 0px 5px 2px 0px; }

/*** Common classes ***/

/* refer */
refer { color: #1c79c2; }

/* footnotes */
footnotes { display: none; }
footnote sup { display: inline; }
footnote-sen { display: inline; font-style: italic; font-size: small; text-indent: 1em; }
location { display: none; }

/*** Section classes ***/

/* law name */
law > name { display: block; font-size: 1.875em; line-height: 1.25em; color: #2d5382; border-top: 1px solid #dddddd; padding-top: 30px; padding-bottom: 6px; }

/* law num-and-date */
law num-and-date { display: block; font-weight: bold; font-size: 16px; line-height: 1.6; text-align: center; border-bottom: 1px solid #dddddd; padding-bottom: 22px; margin-bottom: 40px; }

/* chapter */
chapter { display: block; margin-top: 16px; }
chapter > nr-title { font-weight: bold; }
chapter > name { font-weight: bold; }

/* article */
art { display: block; }
art > nr-title { display: inline; font-weight: bold; }
art > name { font-style: italic; }

/* subarticle */
subart { display: block; }

/* numerical article */
numart { display: block; text-indent: 1em; }
numart > name { font-style: italic; }

/* letter article */
letart { display: block; text-indent: 1em; }


